<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Code Academy</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/chooseLevel.css" type="text/css"/>

    <script src="/javascript/homePage.js"></script>
    <script src="/javascript/chooseLevel.js"></script>
</head>
<body>
    <h2>SELECT YOUR LEVEL</h2>
    <div class="level">
        <button id="easy" onclick="chooseEasy()">Easy</button>
        <button id="medium" onclick="chooseMedium()">Medium</button>
        <button id="hard" onclick="chooseHard()">Hard</button>
    </div>
    <!-- <button id="start_button" onclick="startGame()">Start</button> -->
</body>
</html>