<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Code Academy</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/homePage.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- javascript -->
    <script src="/javascript/homePage.js"></script>
</head>
<body>
    <!-- Fullpage tab -->
    <button class="tablink" onclick="openPage('Explore', this, '#C1B945')" id="defaultOpen">Explore</button>
    <button class="tablink" onclick="openPage('LeaderBoard', this, '#C1B945')" id="Leader">Leaderboard</button>
    <button class="tablink" onclick="openPage('AboutUs', this, '#C1B945')">About Us</button>
    <button class="tablink" onclick="openPage('SignIn', this, '#C1B945')" id="active"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</button>
    
    <div id="Explore" class="tabcontent">
        <h2>Welcome to Kids Code Academy</h2>
        <p>Unlock the World of Creativity and Problem-Solving through Fun Coding Blocks!
        At Kids Code Academy, we believe that learning to code is not only essential in today's technology-driven world but can also be an incredibly fun and creative journey for young minds. Our platform is specially designed to introduce programming concepts to children in a way that is engaging, interactive, and age-appropriate.
        With our colorful and intuitive coding blocks, kids can easily grasp the fundamentals of coding and develop their logical thinking skills. Whether they're building their first simple games, designing interactive stories, or creating animated characters, our platform empowers young learners to express their ideas and turn them into reality.</p>
        <button id="StartNow" onclick="chooseLevel()">Start now</button>
    </div>
      
    <div id="LeaderBoard" class="tabcontent">
        <h2 id="Ranking">Ranking</h2>
        <p></p> 
    </div>
      
    <div id="AboutUs" class="tabcontent">
        <h3>Our team</h3>
        <p id="AboutUs_Comment">We hope that our product can inspire the programming spirit to kids.</p>
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="/images/NguyenMinhTri.png" alt="Nguyen Minh Tri" style="width:100%">
                <div class="container">
                  <h2>Tri Nguyen</h2>
                  <p class="title">Fullstack Developer</p>
                  <p>519H0243@student.tdtu.edu.vn</p>
                  <p><button class="profileButton">Contact</button></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="/images/TruongTuanNhan.png" alt="Truong Tuan Nhan" style="width:100%">
                <div class="container">
                  <h2>Nhan Truong</h2>
                  <p class="title">Fullstack Developer</p>
                  <p>519H0208@student.tdtu.edu.vn</p>
                  <p><button class="profileButton">Contact</button></p>
                </div>
              </div>
            </div>
        </div>
    </div>
      
    <div id="SignIn" class="tabcontent">
      <h2>SIGN IN</h2>
      <p>Welcome back!</p>
      <form action="" id="login-form">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" value="" required>
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password" value="" required>
        <input type="submit" id="Submit" value="Sign in">
      </form>
      <div id="sign-up">Don't have an account? <button class="pop-up" onclick="openForm()"><a>Sign up now</a></button></div> 
    
    <!-- Popup Sign-up form -->
    <div class="sign-up-form" id="sign-up-form">
      <form action="" class="form-container">
        <h1>SIGN UP</h1>
        <div>Create your account now</div>
    
        <label for="Fullname">Full name</label>
        <input type="text" placeholder="" name="Fullname" required>

        <label for="dob">Date of birth</label>
        <input type="date" required>

        <label for="Username">Username</label>
        <input type="text" placeholder="" name="Username" required>
    
        <label for="psw"><b>Create a password</b></label>
        <input type="password" placeholder="" name="password" required>
    
        <button type="submit" class="btn">Sign up</button>
        <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
    </div>
    </div>  
    <!-- Set default for 1st page -->
    <script>document.getElementById("defaultOpen").click();</script>
</body>
</html>