<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/homePage.css" type="text/css"/>
</head>
<body>
    <div class="topnav">
        <a class="active_1" href="#explore">Explore</a>
        <a href="#start">Start</a>
        <a href="#aboutUs">About Us</a>
        <a class="active_2" href="#signIn">Sign in</a>
    </div>
    <h2>Welcome to Kids Code Academy</h2>
    <p>Unlock the World of Creativity and Problem-Solving through Fun Coding Blocks!
        At Kids Code Academy, we believe that learning to code is not only essential in today's technology-driven world but can also be an incredibly fun and creative journey for young minds. Our platform is specially designed to introduce programming concepts to children in a way that is engaging, interactive, and age-appropriate.
        With our colorful and intuitive coding blocks, kids can easily grasp the fundamentals of coding and develop their logical thinking skills. Whether they're building their first simple games, designing interactive stories, or creating animated characters, our platform empowers young learners to express their ideas and turn them into reality.</p>
    <button>Start now</button>
</body>
</html>