<!DOCTYPE html>
<html>

<head>
    <title>Kids Code Academy</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
    
    <script src="javascript_compressed.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/blockly"></script>
    <script src="https://unpkg.com/blockly/python_compressed"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container-fluid d-flex flex-row" id="block-page">
        <div class="col-sm-12 col-md-5">
            <div class="container-fluid d-flex flex-column justify-content-end">
              <div class="container-fluid mb-5" id="question-container">
                <textarea class="p-3" id="question-area"></textarea>
              </div>
              <div class="col-sm-12 container-fluid my-3 d-flex" id="option-button">
                <button class="mx-2 px-3 rounded bg-light" onclick="runCode()">Run</button>
                <button class="mx-2 px-3 rounded bg-light" onclick="importBlocks()">Import</button>
                <button class="mx-2 px-3 rounded bg-light" onclick="exportBlocks()">Export</button>
                <input type="file" id="importInput" className="m-0 px-3"/>
              </div>
              <div class="container-fluid mb-5" id="run-area-container">
                <textarea class="p-3" id="run-area"></textarea>
                <p class="m-2" id="result">Result:</p>
              </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-7">
            <div id="BlocklyDiv-container">
              <div id="blocklyDiv"></div>
            </div>
        </div>
    </div>

    <xml id="toolbox" style="display: none">
        <!-- Category "Khối nhập" (Blocks for Input) -->
        <category name="Input" colour="#5b80a5">
            <!-- Bổ sung label "Nhập số tự nhiên" -->
            <block type="math_number">
                <field name="NUM" text="Nhập số tự nhiên"></field>
            </block>

        </category>

        <category name="String" colour="#5b80a5">
            <block type="string_input"></block>
            <block type="string_concatenate"></block>
            <block type="string_length"></block>
            <block type="string_slice"></block>

        </category>

        <!-- Category "Khối Phép tính" (Blocks for Arithmetic Operations) -->
        <category name="Operations" colour="#76b75d">
            <!-- Khối Cộng (Addition) -->
            <block type="math_addition">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Trừ (Subtraction) -->
            <block type="math_subtraction">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Nhân (Multiplication) -->
            <block type="math_multiplication">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Chia (Division) -->
            <block type="math_division">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Mũ (Exponentiation) -->
            <block type="math_exponentiation">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Căn bậc hai (Square Root) -->
            <block type="math_square_root">
                <value name="NUM">
                </value>
            </block>
            <!-- Khối Chia lấy dư (Modulo) -->
            <block type="math_modulo">
                <value name="DIVIDEND">
                </value>
                <value name="DIVISOR">
                </value>
            </block>
            <!-- Khối căn tùy chỉnh -->
            <block type="math_custom_root"></block>
            <!-- Khối giao giừa (Factorial) -->
            <block type="math_factorial"></block>

        </category>


        <!-- Variable blocks -->
        <category name="Variable" custom="VARIABLE" colour="#db7c38">

        </category>

        <!-- Logic blocks -->
        <category name="Logic" colour="#d84a5b">
            <block type="controls_if"></block>
            <block type="logic_compare"></block>
            <block type="controls_ifelse"></block>
        </category>

        <!-- Loop blocks -->
        <category name="Loops" colour="#4b9f95">
            <block type="controls_repeat_ext"></block>
            <block type="controls_whileUntil"></block>
            <!-- Thêm các khối vòng lặp khác tại đây -->
        </category>

        <category name="Functions" colour="#BACC00">
            <block type="procedures_defreturn" gap="8">
                <field name="NAME">sum_of_three</field>
                <statement name="STACK">
                </statement>
            </block>
        </category>

    </xml>

    
        
    <script>
        var workspace = Blockly.inject('blocklyDiv', { toolbox: document.getElementById('toolbox') });
        // String input
        Blockly.Blocks['string_input'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Input string: %1",
                    "args0": [
                        {
                            "type": "field_input",
                            "name": "TEXT",
                            "text": ""
                        }
                    ],
                    "output": "String",
                    "colour": 160,
                    "tooltip": "This block allows the user to input a string."
                });
            }
        };

        Blockly.Blocks['string_concatenate'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Concatenate strings %1 and %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "STRING1",
                            "check": "String"
                        },
                        {
                            "type": "input_value",
                            "name": "STRING2",
                            "check": "String"
                        }
                    ],
                    "output": "String",
                    "colour": 160,
                    "tooltip": "Concatenate two strings together"
                });
            }
        };

        Blockly.Blocks['string_length'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Length of string %1",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "STRING",
                            "check": "String"
                        }
                    ],
                    "output": "Number",
                    "colour": 160,
                    "tooltip": "Return the length of the string."
                });
            }
        };

        Blockly.Blocks['string_slice'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Slice string %1 from position %2 to %3",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "STRING",
                            "check": "String"
                        },
                        {
                            "type": "input_value",
                            "name": "START",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "END",
                            "check": "Number"
                        }
                    ],
                    "output": "String",
                    "colour": 160,
                    "tooltip": "Slice a portion of the string from the starting position to the ending position."
                });
            }
        };



        Blockly.Blocks['math_addition'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Sum of %1 and %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FF6600",
                    "tooltip": "Addition of two numbers",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_subtraction'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Difference between %1 and %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#0066CC",
                    "tooltip": "Subtraction of two numbers",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_multiplication'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Product of %1 and %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FF33CC",
                    "tooltip": "Multiplication of two numbers",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_division'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Quotient of %1 divided by %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#00CC66",
                    "tooltip": "Division of two numbers",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_exponentiation'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Exponentiation of %1 to the power of %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FF9900",
                    "tooltip": "Exponentiation",
                    "helpUrl": ""
                });
            }
        };



        Blockly.Blocks['math_square_root'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Square root of %1",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "NUM",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FFCC00",
                    "tooltip": "Square root",
                    "helpUrl": ""
                });
            }

        };

        Blockly.Blocks['math_modulo'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Modulus of %1 divided by %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "DIVIDEND",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "DIVISOR",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#99CC33",
                    "tooltip": "Modulus or remainder",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_custom_root'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Square root of %2 to the power of %1",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "INDEX",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "NUM",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#BACC00",
                    "tooltip": "Square root of B to the power of A",
                    "helpUrl": ""
                });
            }
        };
        Blockly.Blocks['math_factorial'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Factorial of %1",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "NUM",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FFCC00",
                    "tooltip": "Factorial calculation",
                    "helpUrl": ""
                });
            }
        };
        // String processing
        // Xử lý khối nhập chuỗi
        Blockly.JavaScript['string_input'] = function (block) {
            var text_input = block.getFieldValue('TEXT');
            var code = "'" + text_input + "'";
            return [code, Blockly.JavaScript.ORDER_ATOMIC];
        };


        // Xử lý khối nối chuỗi
        Blockly.JavaScript['string_concatenate'] = function (block) {
            var value_string1 = Blockly.JavaScript.valueToCode(block, 'STRING1', Blockly.JavaScript.ORDER_ATOMIC);
            var value_string2 = Blockly.JavaScript.valueToCode(block, 'STRING2', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_string1 + ' + ' + value_string2;
            return [code, Blockly.JavaScript.ORDER_ADDITION];
        };

        // Xử lý khối độ dài chuỗi
        Blockly.JavaScript['string_length'] = function (block) {
            var value_string = Blockly.JavaScript.valueToCode(block, 'STRING', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_string + '.length';
            return [code, Blockly.JavaScript.ORDER_MEMBER];
        };

        // Xử lý khối cắt chuỗi
        Blockly.JavaScript['string_slice'] = function (block) {
            var value_string = Blockly.JavaScript.valueToCode(block, 'STRING', Blockly.JavaScript.ORDER_ATOMIC);
            var value_start = Blockly.JavaScript.valueToCode(block, 'START', Blockly.JavaScript.ORDER_ATOMIC);
            var value_end = Blockly.JavaScript.valueToCode(block, 'END', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_string + '.slice(' + value_start + ', ' + value_end + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };


        Blockly.JavaScript['math_addition'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' + ' + value_b;
            return [code, Blockly.JavaScript.ORDER_ADDITION];
        };

        Blockly.JavaScript['math_subtraction'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' - ' + value_b;
            return [code, Blockly.JavaScript.ORDER_SUBTRACTION];
        };

        Blockly.JavaScript['math_multiplication'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' * ' + value_b;
            return [code, Blockly.JavaScript.ORDER_MULTIPLICATION];
        };

        Blockly.JavaScript['math_division'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' / ' + value_b;
            return [code, Blockly.JavaScript.ORDER_DIVISION];
        };

        Blockly.JavaScript['math_exponentiation'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = 'Math.pow(' + value_a + ', ' + value_b + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };

        Blockly.JavaScript['math_square_root'] = function (block) {
            var value_num = Blockly.JavaScript.valueToCode(block, 'NUM', Blockly.JavaScript.ORDER_ATOMIC);
            var code = 'Math.sqrt(' + value_num + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };

        Blockly.JavaScript['math_modulo'] = function (block) {
            var value_dividend = Blockly.JavaScript.valueToCode(block, 'DIVIDEND', Blockly.JavaScript.ORDER_ATOMIC);
            var value_divisor = Blockly.JavaScript.valueToCode(block, 'DIVISOR', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_dividend + ' % ' + value_divisor;
            return [code, Blockly.JavaScript.ORDER_MODULUS];
        };

        Blockly.JavaScript['math_custom_root'] = function (block) {
            var value_index = Blockly.JavaScript.valueToCode(block, 'INDEX', Blockly.JavaScript.ORDER_ATOMIC);
            var value_num = Blockly.JavaScript.valueToCode(block, 'NUM', Blockly.JavaScript.ORDER_ATOMIC);
            var code = 'Math.pow(' + value_num + ', 1 / ' + value_index + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };

        Blockly.JavaScript['math_factorial'] = function (block) {
            var value_num = Blockly.JavaScript.valueToCode(block, 'NUM', Blockly.JavaScript.ORDER_ATOMIC);

            var functionName = Blockly.JavaScript.provideFunction_(
                'math_factorial',
                ['function ' + Blockly.JavaScript.FUNCTION_NAME_PLACEHOLDER_ + '(n) {',
                    '  if (n === 0 || n === 1) {',
                    '    return 1;',
                    '  } else {',
                '    return n * ' + Blockly.JavaScript.FUNCTION_NAME_PLACEHOLDER_ + '(n - 1);',
                    '  }',
                    '}']);

            var code = functionName + '(' + value_num + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };




        Blockly.JavaScript.updateWorkspaceBlocks = function (workspace, code) {
            // Iterate through the generated blocks
            workspace.getAllBlocks().forEach(function (block) {
                if (block.type !== 'math_number') {
                    // Update block values based on newCode
                    var blockGenerator = Blockly.JavaScript[block.type];
                    if (blockGenerator) {
                        blockGenerator(block);
                    }
                }
            });
        }

        function runCode() {
            // Execute the generated Blockly code
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            var result = eval(code);
            document.getElementById('result').textContent = 'Result: ' + result;
        }

        function exportBlocks() {
            var xml = Blockly.Xml.workspaceToDom(workspace);
            var xmlText = Blockly.Xml.domToPrettyText(xml);

            var filename = prompt("Nhập tên tệp:", "blocks");
            if (filename !== null && filename.trim() !== "") {
                if (!filename.endsWith(".xml")) {
                    filename += ".xml"; // Đảm bảo rằng tên tệp có đuôi .xml
                }
                download(filename, xmlText);
            }
        }

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }

        function importBlocks() {
            var importInput = document.getElementById("importInput");
            var file = importInput.files[0];

            if (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var xmlText = event.target.result;
                    var parser = new DOMParser();
                    var xml = parser.parseFromString(xmlText, "text/xml");

                    if (xml.getElementsByTagName('xml').length > 0) {
                        xml = xml.getElementsByTagName('xml')[0];
                        Blockly.Xml.clearWorkspaceAndLoadFromXml(xml, workspace);
                    } else {
                        alert("Tệp dữ liệu không hợp lệ.");
                    }
                };
                reader.readAsText(file);
            }
        }

        function updateCode() {
            // Generate Blockly code and display it in the textarea
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            document.getElementById('run-area').value = code;
        }

        // Add an event listener to workspace to update the code whenever blocks change
        workspace.addChangeListener(updateCode);




    </script>
</body>

</html>