<!DOCTYPE html>
<html>

<head>
    <title>Blockly Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/blockly"></script>
    <script src="https://unpkg.com/blockly/python_compressed"></script>

</head>

<body>
    <h1>Blockly Calculator</h1>
    <div id="blocklyDiv" style="height: 480px; width: 100%;"></div>
    <xml id="toolbox" style="display: none">
        <!-- Category "Khối nhập" (Blocks for Input) -->
        <category name="Input" colour="#5b80a5">
            <!-- Bổ sung label "Nhập số tự nhiên" -->
            <block type="math_number">
                <field name="NUM" text="Nhập số tự nhiên"></field>
            </block>
        </category>

        <!-- Category "Khối Phép tính" (Blocks for Arithmetic Operations) -->
        <category name="Operations" colour="#76b75d">
            <!-- Khối Cộng (Addition) -->
            <block type="math_addition">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Trừ (Subtraction) -->
            <block type="math_subtraction">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Nhân (Multiplication) -->
            <block type="math_multiplication">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Chia (Division) -->
            <block type="math_division">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Mũ (Exponentiation) -->
            <block type="math_exponentiation">
                <value name="A">
                </value>
                <value name="B">
                </value>
            </block>
            <!-- Khối Căn bậc hai (Square Root) -->
            <block type="math_square_root">
                <value name="NUM">
                </value>
            </block>
            <!-- Khối Chia lấy dư (Modulo) -->
            <block type="math_modulo">
                <value name="DIVIDEND">
                </value>
                <value name="DIVISOR">
                </value>
            </block>
            <!-- Khối căn tùy chỉnh -->
            <block type="math_custom_root"></block>
            <!-- Khối giao giừa (Factorial) -->
            <block type="math_factorial"></block>

        </category>


        <!-- Variable blocks -->
        <category name="Variable" custom="VARIABLE" colour="#db7c38">

        </category>

        <!-- Logic blocks -->
        <category name="Logic" colour="#d84a5b">
            <block type="controls_if"></block>
            <block type="logic_compare"></block>
            <block type="controls_ifelse"></block>
        </category>

        <!-- Loop blocks -->
        <category name="Loops" colour="#4b9f95">
            <block type="controls_repeat_ext"></block>
            <block type="controls_whileUntil"></block>
            <!-- Thêm các khối vòng lặp khác tại đây -->
        </category>



    </xml>
    <button onclick="runCode()">Run</button>
    <button onclick="exportBlocks()">Export</button>
    <input type="file" id="importInput">
    <button onclick="importBlocks()">Import</button>
    <p id="result">Result:</p>
    <div id="codeEditor">
        <textarea id="codeInput" rows="10" cols="50"></textarea>
    </div>

    <script>
        var workspace = Blockly.inject('blocklyDiv', { toolbox: document.getElementById('toolbox') });

        Blockly.Blocks['math_addition'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Tổng của %1 + %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FF6600",
                    "tooltip": "Phép cộng hai số",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_subtraction'] = {
            init: function () {
                this.jsonInit({
                    "message0": " Hiệu của %1 - %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#0066CC",
                    "tooltip": "Phép trừ hai số",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_multiplication'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Tích của %1 x %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FF33CC",
                    "tooltip": "Phép nhân hai số",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_division'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Phân của %1 : %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#00CC66",
                    "tooltip": "Phép chia hai số",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_exponentiation'] = {
            init: function () {
                this.jsonInit({
                    "message0": "%1 mũ %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "A",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "B",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FF9900",
                    "tooltip": "Lũy thừa hai số",
                    "helpUrl": ""
                });
            }
        };



        Blockly.Blocks['math_square_root'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Căn bậc hai của %1",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "NUM",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FFCC00",
                    "tooltip": "Căn bậc hai của một số",
                    "helpUrl": ""
                });
            }

        };

        Blockly.Blocks['math_modulo'] = {
            init: function () {
                this.jsonInit({
                    "message0": "%1 chia lấy dư cho %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "DIVIDEND",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "DIVISOR",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#99CC33",
                    "tooltip": "Chia một số lấy dư cho số khác",
                    "helpUrl": ""
                });
            }
        };

        Blockly.Blocks['math_custom_root'] = {
            init: function () {
                this.jsonInit({
                    "message0": "Căn bậc %1 của %2",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "INDEX",
                            "check": "Number"
                        },
                        {
                            "type": "input_value",
                            "name": "NUM",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#BACC00",
                    "tooltip": "Căn bậc x của y",
                    "helpUrl": ""
                });
            }
        };
        Blockly.Blocks['math_factorial'] = {
            init: function () {
                this.jsonInit({
                    "message0": "%1!",
                    "args0": [
                        {
                            "type": "input_value",
                            "name": "NUM",
                            "check": "Number"
                        }
                    ],
                    "output": "Number",
                    "inputsInline": true,
                    "colour": "#FFCC00",
                    "tooltip": "Tính giai thừa của một số",
                    "helpUrl": ""
                });
            }
        };


        Blockly.JavaScript['math_addition'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' + ' + value_b;
            return [code, Blockly.JavaScript.ORDER_ADDITION];
        };

        Blockly.JavaScript['math_subtraction'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' - ' + value_b;
            return [code, Blockly.JavaScript.ORDER_SUBTRACTION];
        };

        Blockly.JavaScript['math_multiplication'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' * ' + value_b;
            return [code, Blockly.JavaScript.ORDER_MULTIPLICATION];
        };

        Blockly.JavaScript['math_division'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_a + ' / ' + value_b;
            return [code, Blockly.JavaScript.ORDER_DIVISION];
        };

        Blockly.JavaScript['math_exponentiation'] = function (block) {
            var value_a = Blockly.JavaScript.valueToCode(block, 'A', Blockly.JavaScript.ORDER_ATOMIC);
            var value_b = Blockly.JavaScript.valueToCode(block, 'B', Blockly.JavaScript.ORDER_ATOMIC);
            var code = 'Math.pow(' + value_a + ', ' + value_b + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };

        Blockly.JavaScript['math_square_root'] = function (block) {
            var value_num = Blockly.JavaScript.valueToCode(block, 'NUM', Blockly.JavaScript.ORDER_ATOMIC);
            var code = 'Math.sqrt(' + value_num + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };

        Blockly.JavaScript['math_modulo'] = function (block) {
            var value_dividend = Blockly.JavaScript.valueToCode(block, 'DIVIDEND', Blockly.JavaScript.ORDER_ATOMIC);
            var value_divisor = Blockly.JavaScript.valueToCode(block, 'DIVISOR', Blockly.JavaScript.ORDER_ATOMIC);
            var code = value_dividend + ' % ' + value_divisor;
            return [code, Blockly.JavaScript.ORDER_MODULUS];
        };

        Blockly.JavaScript['math_custom_root'] = function (block) {
            var value_index = Blockly.JavaScript.valueToCode(block, 'INDEX', Blockly.JavaScript.ORDER_ATOMIC);
            var value_num = Blockly.JavaScript.valueToCode(block, 'NUM', Blockly.JavaScript.ORDER_ATOMIC);
            var code = 'Math.pow(' + value_num + ', 1 / ' + value_index + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };

        Blockly.JavaScript['math_factorial'] = function (block) {
            var value_num = Blockly.JavaScript.valueToCode(block, 'NUM', Blockly.JavaScript.ORDER_ATOMIC);

            var functionName = Blockly.JavaScript.provideFunction_(
                'math_factorial',
                ['function ' + Blockly.JavaScript.FUNCTION_NAME_PLACEHOLDER_ + '(n) {',
                    '  if (n === 0 || n === 1) {',
                    '    return 1;',
                    '  } else {',
                '    return n * ' + Blockly.JavaScript.FUNCTION_NAME_PLACEHOLDER_ + '(n - 1);',
                    '  }',
                    '}']);

            var code = functionName + '(' + value_num + ')';
            return [code, Blockly.JavaScript.ORDER_FUNCTION_CALL];
        };




        Blockly.JavaScript.updateWorkspaceBlocks = function (workspace, code) {
            // Iterate through the generated blocks
            workspace.getAllBlocks().forEach(function (block) {
                if (block.type !== 'math_number') {
                    // Update block values based on newCode
                    var blockGenerator = Blockly.JavaScript[block.type];
                    if (blockGenerator) {
                        blockGenerator(block);
                    }
                }
            });
        }

        function runCode() {
            // Execute the generated Blockly code
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            var result = eval(code);
            document.getElementById('result').textContent = 'Result: ' + result;
        }

        function exportBlocks() {
            var xml = Blockly.Xml.workspaceToDom(workspace);
            var xmlText = Blockly.Xml.domToPrettyText(xml);

            var filename = prompt("Nhập tên tệp:", "blocks");
            if (filename !== null && filename.trim() !== "") {
                if (!filename.endsWith(".xml")) {
                    filename += ".xml"; // Đảm bảo rằng tên tệp có đuôi .xml
                }
                download(filename, xmlText);
            }
        }

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }

        function importBlocks() {
            var importInput = document.getElementById("importInput");
            var file = importInput.files[0];

            if (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var xmlText = event.target.result;
                    var parser = new DOMParser();
                    var xml = parser.parseFromString(xmlText, "text/xml");

                    if (xml.getElementsByTagName('xml').length > 0) {
                        xml = xml.getElementsByTagName('xml')[0];
                        Blockly.Xml.clearWorkspaceAndLoadFromXml(xml, workspace);
                    } else {
                        alert("Tệp dữ liệu không hợp lệ.");
                    }
                };
                reader.readAsText(file);
            }
        }

        function updateCode() {
            // Generate Blockly code and display it in the textarea
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            document.getElementById('codeInput').value = code;
        }

        // Add an event listener to workspace to update the code whenever blocks change
        workspace.addChangeListener(updateCode);




    </script>
</body>

</html>