<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Code Academy</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/chooseLevel.css" type="text/css"/>

    <script src="/javascript/chooseLevel.js"></script>
</head>
<body>
    <h2>MEDIUM LEVEL</h2>
    <button id="start_button" onclick="startGameM()">Start</button>
    <button id="back_button" onclick="moveBack()">Back</button>
</body>
</html>