*, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    background-image: url("../images/homePage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: SchoolBell;
    src: url(./Schoolbell.ttf);
    }

#admin-form {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    display: none;
}

#form-submit-button {
    width: 10%;
}

#fullTab{
    background-color: none;
    width: 100vw;
  }

  .tablink {
    background-color: none;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px;
    margin-left: 5%;
    width: 20%;
    font-family: SchoolBell;
    text-decoration: none;
    border-radius: 30px;
  }

  #UserList {
    margin-top: 3%;
    font-family: SchoolBell;
    width: 70%;
    height: 50%;
    margin-left: 15%;
  }

  .tabcontent {
    display: none;
    font-family: SchoolBell;
  }

#user-list {
    width: 70vw;
    height: 50vh;
    font-family: 'Times New Roman', Times, serif;
}

#question-list {
  width: 70vw;
  height: 50vh;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 15vw;
  margin-top: 5vh;
}

#update-popup-form {
  background-color: rgb(222, 228, 228);
  width: 20vw;
  height: 35vh;
  position: absolute;
  z-index: 10;
  top: 20vh;
  left: 40vw;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 4px 4px black;
  display: none;
}

#update-popup-form button {
  width: 100%;
}

#close-update-form {
  padding-top: 0;
}

#delete-form input, #delete-user-form input {
  width: 20vw;
}

#delete-form {
  margin-left: 15vw;
}
