*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
      background-image: url("../images/homePage.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      z-index: 9;
    }
    
  #block-page {
    height: 100vh;
    width: 100vw;
    font-family: SchoolBell;
  }

#question-container {
    width: 30vw;
    height: 40vh;
    margin-top: 7%;
    margin-right: 0%;
    margin-top: 10;
}

#run-area-container {
    width: 30vw;
    height: 30vh;
    margin-right: 0%;
}

#block-area-container {
    width: 40vw;
    height: 80vh;
    margin-top: 7%;
    margin-left: 5%;
    border-radius: 30px;
    box-shadow:  8px 8px 0 #e4c16a;
}

#question-area {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-right: 0%;
    box-shadow:  8px 8px 0 #e4c16a;
}

#run-area {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-right: 0%;
    box-shadow:  8px 8px 0 #e4c16a;
}

#option-button, #question-button-1, #question-button-2 {
    margin-left: 30%;
}

#BlocklyDiv-container {
    width: 100%;
    height: 70%;
}

#result-area-container {
    height: 20%;
    width: 70%;
    margin-left: 5%;
    box-shadow: 8px 8px 0 #e4c16a;
    border-radius: 20px;
    border: solid black 1px;
}

#blocklyDiv {
    width: 70%;
    height: 100%;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow:  8px 8px 0 #e4c16a;
}

.blocklyToolboxDiv {
    background-color: #C4CBB3;
}

.blocklyFlyoutBackground {
    fill: #F8F7F2;
    fill-opacity: 1;
}

#question-area {
    margin: 0;
    text-align: left;
}

#question-button-1 input, #question-button-2 input {
    width: 3vw;
    border-radius: 5px;
    margin-right: 1%;
}

#question-button{
    width: 20vw;
}

#pop-up-score {
    background-color: #e4c16a;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 100;
    border-radius: 20px;
    color: black;
    font-size: 100px;
    display: none;
}

#back-homepage, #time-counter {
    width: 5%;
    height: 5%;
    position: absolute;
    right:0;
    top:0;
    border: none;
    background-color: none;
    cursor: pointer;
    color:#d5641e;
    margin-top: 5%;
    margin-right: 7%;
    box-shadow: 4px 4px black;
    font-weight: bold;
}

#time-counter {
    width: 5%;
    height: 5%;
    position: absolute;
    right:0;
    top:0;
    border: none;
    background-color: none;
    cursor: pointer;
    color:#0a0a0a;
    margin-top: 10%;
    margin-right: 7%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}

#close-pop-up {
    font-size: 20px;
    top: 0px;
    right: 0px;
    float: right;
    margin: 0;
}

#pop-up-score button {
    border: none;
    background-color: #e4c16a;
}

#submit-answer {
    background-color: #40c340;
    margin-left: 11%;
}


#submit-answer:hover{
    background-color: green;
} 